<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automate.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="AutoMateClient">
        
        <activity
            android:name="com.automate.client.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.automate.client.views.authentication.AuthenticationActivity"/>
        <activity android:name="com.automate.client.views.registration.RegistrationActivity"/>
        <activity android:name="com.automate.client.views.nodelist.NodeListActivity"/>
        <activity android:name="com.automate.client.views.node.NodeActivity"/>
        
        <service android:name="com.automate.client.packet.services.PacketDeliveryService"></service>
        <service android:name="com.automate.client.packet.services.PacketReceiveService"></service>
        <service android:name=".AutoMateService">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </service>
        <service android:name=".views.authentication.AuthenticationService"></service>
        <service android:name=".views.registration.RegistrationService"></service>
        <service android:name=".views.nodelist.NodeListService"></service>
        <service android:name="com.automate.client.views.node.NodeService"/>
        
        <receiver android:name="com.automate.client.managers.packet.PacketReceiveReceiver"></receiver>
        <receiver android:name=".managers.connectivity.DisconnectReceiver"></receiver>
        <receiver android:name=".managers.authentication.ReconnectReceiver"></receiver>
        <service android:name=".managers.connectivity.DisconnectService"></service>
        <service android:name=".managers.authentication.ReconnectService"></service>
    </application>

</manifest>
